  <form [formGroup]="createShop" (ngSubmit)="saveShop()">
    <div class="row">
        <div class="form-group col">
          <label for="country">Country</label>
          <ng-select [items]="(countries$ | async)"
          bindLabel="name"
          id="country_id"
          [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
          placeholder="select Country"
          formControlName="country_id">
          </ng-select>
          <div *ngIf="f.country_id.errors && f.country_id.errors.error" class="invalid-feedback">
            {{f.country_id.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="Category">Category</label>
          <ng-select [items]="(categories$ | async)"
          [ngClass]="{'is-invalid': ( f.shop_category_id.errors && f.shop_category_id.errors.error)}"
            bindLabel="name"
            id="shop_category_id"
            placeholder="select Category"
            formControlName="shop_category_id">
            </ng-select>
            <div *ngIf="f.shop_category_id.errors && f.shop_category_id.errors.error" class="invalid-feedback">
              {{f.shop_category_id.errors.error}}
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="name">Shop Name</label>
          <input type="text" class="form-control" id="name"
          [ngClass]="{'is-invalid': ( f.name.errors && f.name.errors.error)}"
          placeholder="Name"
          formControlName="name">
          <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
            {{f.name.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="short_name">Shop Short Name</label>
          <input type="text" class="form-control" id="short_name"
          [ngClass]="{'is-invalid': ( f.short_name.errors && f.short_name.errors.error)}"
          placeholder="Shop short name"
          formControlName="short_name">
          <div *ngIf="f.short_name.errors && f.short_name.errors.error" class="invalid-feedback">
            {{f.short_name.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="Status">Status</label>
          <select class="form-control"
          [ngClass]="{'is-invalid': ( f.status.errors && f.status.errors.error)}"
          formControlName="status">
              <option value="1">Active</option>
              <option value="0">In-Active</option>
          </select>
          <div *ngIf="f.status.errors && f.status.errors.error" class="invalid-feedback">
            {{f.status.errors.error}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="theme_color">Theme Color</label>
          <input type="color" class="form-control" id="theme_color"
          [ngClass]="{'is-invalid': ( f.theme_color.errors && f.theme_color.errors.error)}"
          placeholder="Theme Color"
          formControlName="theme_color">
          <div *ngIf="f.theme_color.errors && f.theme_color.errors.error" class="invalid-feedback">
            {{f.theme_color.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="bg_color">Background Color</label>
          <input type="color" class="form-control" id="bg_color"
          [ngClass]="{'is-invalid': ( f.bg_color.errors && f.bg_color.errors.error)}"
          placeholder="Theme Color"
          formControlName="bg_color">
          <div *ngIf="f.bg_color.errors && f.bg_color.errors.error" class="invalid-feedback">
            {{f.bg_color.errors.error}}
          </div>
        </div>


      </div>

      <div class="row">
        <div class="form-group col">
          <label for="shop_url">Shop Url</label>
          <input type="text" class="form-control" id="shop_url"
          [ngClass]="{'is-invalid': ( f.shop_url.errors && f.shop_url.errors.error)}"
          placeholder="Shop Url eg.www.kfc.com"
          formControlName="shop_url">
          <div *ngIf="f.shop_url.errors && f.shop_url.errors.error" class="invalid-feedback">
            {{f.shop_url.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="base_path">Base Path</label>
          <input type="text" class="form-control" id="base_path"
          [ngClass]="{'is-invalid': ( f.base_path.errors && f.base_path.errors.error)}"
          placeholder="Example: /"
          formControlName="base_path">
          <div *ngIf="f.base_path.errors && f.base_path.errors.error" class="invalid-feedback">
            {{f.base_path.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"
          [ngClass]="{'is-invalid': ( f.email.errors && f.email.errors.error)}"
          placeholder="Email"
          formControlName="email">
          <div *ngIf="f.email.errors && f.email.errors.error" class="invalid-feedback">
            {{f.email.errors.error}}
          </div>

        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="phone">Phone</label>
          {{ f.country_id.value?.phonecode }}<input type="tel" class="form-control" id="phone"
          [ngClass]="{'is-invalid': ( f.phone.errors && f.phone.errors.error)}"
          placeholder="Phone"
          formControlName="phone">
          <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
            {{f.phone.errors.error}}
          </div>
        </div>
        <div class="form-group col">
          <label for="address">Address</label>
          <textarea class="form-control" id="address"
          [ngClass]="{'is-invalid': ( f.address.errors && f.address.errors.error)}"
          placeholder="Address"
          formControlName="address">
          </textarea>
          <div *ngIf="f.address.errors && f.address.errors.error" class="invalid-feedback">
            {{f.address.errors.error}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="State">State</label>
          <ng-select [items]="(states$ | async)"
            bindLabel="name"
            [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
            id="state_id"
            placeholder="select State"
            formControlName="state_id">
            </ng-select>
          <div *ngIf="f.state_id.errors && f.state_id.errors.error" class="invalid-feedback">
            {{f.state_id.errors.error}}
          </div>
        </div>
        <div class="form-group col">
          <label for="City">City</label>
          <ng-select [items]="(cities$ | async)"
          [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
            bindLabel="name"
            id="city_id"
            placeholder="select City"
            formControlName="city_id">
            </ng-select>
            <div *ngIf="f.city_id.errors && f.city_id.errors.error" class="invalid-feedback">
              {{f.city_id.errors.error}}
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="Pin">Pin</label>
          <input type="text" class="form-control" id="Pin"
          [ngClass]="{'is-invalid': ( f.pin.errors && f.pin.errors.error)}"
          placeholder="Pin"
          formControlName="pin">
          <div *ngIf="f.pin.errors && f.pin.errors.error" class="invalid-feedback">
            {{f.pin.errors.error}}
          </div>
        </div>
        <div class="form-group col">
          <label for="Local">Local Place</label>
          <input type="text" class="form-control" id="Local"
          [ngClass]="{'is-invalid': ( f.local.errors && f.local.errors.error)}"
          placeholder="Local Place"
          formControlName="local">
          <div *ngIf="f.local.errors && f.local.errors.error" class="invalid-feedback">
            {{f.local.errors.error}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="Map">Map Image Url</label>
          <input type="text" class="form-control" id="Map"
          [ngClass]="{'is-invalid': ( f.map.errors && f.map.errors.error)}"
          placeholder="Map Url"
          formControlName="map">
          <div *ngIf="f.map.errors && f.map.errors.error" class="invalid-feedback">
            {{f.map.errors.error}}
          </div>
        </div>

        <div class="form-group col">
          <label for="favicon">Favicon</label>
          <input type="file" class="form-control" id="favicon"
          [ngClass]="{'is-invalid': ( f.favicon.errors && f.favicon.errors.error)}"
          (change)="handleFaviconInput($event.target.files)"
          accept=".ico">
          <div *ngIf="f.favicon.errors && f.favicon.errors.error" class="invalid-feedback">
            {{f.favicon.errors.error}}
          </div>
        </div>
        <div class="form-group col">
          <label for="logo">Logo</label>
          <input type="file" class="form-control" id="logo"
          [ngClass]="{'is-invalid': ( f.logo.errors && f.logo.errors.error)}"
          (change)="handleLogoInput($event.target.files)"
          accept=".png">
          <div *ngIf="f.logo.errors && f.logo.errors.error" class="invalid-feedback">
            {{f.logo.errors.error}}
          </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary float-right">Submit</button>
    <div class="clearfix"></div>
  </form>


