
<h1 mat-dialog-title>
  {{ (this.data?.id) ? 'Edit '+this.data.name : 'Create New Category' }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="createCatFrm" (ngSubmit)="saveCategory()">
    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Cake" required>
      <mat-error *ngIf="f.name.errors && f.name.errors.error">
        {{f.name.errors.error}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Ex. Cake"></textarea>
      <mat-error *ngIf="f.description.errors && f.description.errors.error">
        {{f.description.errors.error}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{status.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.status.errors && f.status.errors.error">
        {{f.status.errors.error}}
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Sortorder</mat-label>
      <input type="number" matInput formControlName="sortorder" placeholder="Ex. Cake" >
      <mat-error *ngIf="f.sortorder.errors && f.sortorder.errors.error">
        {{f.sortorder.errors.error}}
      </mat-error>
    </mat-form-field>

    <button (click)="fileInput.click()" type="button" mat-stroked-button color="primary">
      <span>Choose Icon</span>
      <input #fileInput type="file" (change)="handleIconSelection($event.target.files)"
       style="display:none;"  accept="image/*" />
    </button>
    <mat-error *ngIf="f.icon.errors && f.icon.errors.error">
      {{f.icon.errors.error}}
    </mat-error>

    <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
    <button mat-raised-button color="primary" type="submit">Save changes</button>
  </form>
</div>

