
<h1 mat-dialog-title>
  {{ (this.data?.id) ? 'Edit '+this.data.name : 'Create New Category' }}
</h1>
<form [formGroup]="createCatFrm" (ngSubmit)="saveCategory()">
  <div mat-dialog-content>
    <div class="grid-form-container">
      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. Cake" required maxlength="200">
        <mat-hint align="end" *ngIf="f.name?.value?.length">{{f.name?.value?.length}} / 200</mat-hint>
        <mat-error *ngIf="f.name.errors && f.name.errors.error">
          {{f.name.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.status.errors && f.status.errors.error">
          {{f.status.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Sortorder</mat-label>
        <input type="number" matInput formControlName="sortorder" placeholder="Ex. 1" >
        <mat-error *ngIf="f.sortorder.errors && f.sortorder.errors.error">
          {{f.sortorder.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-item" appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Ex. Cake related itesm listed under this"
        maxlength="200"></textarea>
        <mat-hint align="end" *ngIf="f.description?.value?.length">{{f.description?.value?.length}} / 200</mat-hint>
        <mat-error *ngIf="f.description.errors && f.description.errors.error">
          {{f.description.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-radio-group  class="align-self" aria-label="Select an option" formControlName="is_maticon">
        <mat-radio-button [value]="1" >Is Material Icon</mat-radio-button> &nbsp; &nbsp;
        <mat-radio-button [value]="0">Icon Upload</mat-radio-button>
      </mat-radio-group>

      <mat-form-field *ngIf="f.is_maticon.value" class="col-item2">
        <mat-select placeholder="Select icon" formControlName="icon">
          <mat-select-trigger>
            <mat-icon>{{f.icon.value?.icon}}</mat-icon> {{f.icon.value?.name}}
          </mat-select-trigger>
          <mat-option *ngFor="let cat_icon of catIcon" [value]="cat_icon">
            <mat-icon matSuffix>{{cat_icon.icon}}</mat-icon>
            {{cat_icon.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


<div>
      <button (click)="fileInput.click()" type="button" mat-stroked-button color="primary" *ngIf="!f.is_maticon.value">
        <span>Choose Icon</span>
        <input #fileInput type="file" (change)="handleIconSelection($event.target.files)"
        style="display:none;"  accept="image/*" />
      </button>
      <mat-error *ngIf="f.icon.errors && f.icon.errors.error">
        {{f.icon.errors.error}}
      </mat-error>
    </div>
    </div>

  </div>
  <div mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
    <button mat-raised-button color="primary" type="submit">Save changes</button>
  </div>
</form>

