.grid-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px; 
    align-items: flex-end;    
input {
    margin-bottom: 0px;
}
.mat-form-field-infix {
    padding-bottom: 0px;
}

}

@media only screen and (min-width: 768px) {
.col-item {
    grid-column: 1 / span 3;
  }

  .col-item2 {
    grid-column:span 2;
  }
  .align-self { align-self: center;}
}
@media only screen and (max-width: 768px) {
    .grid-form-container {
        grid-template-columns:1fr;
        max-width:100%;
        margin-bottom: 30px;
        min-width:78vw;
    }
    
}