
<h1 mat-dialog-title>
  {{ (this.data?.id) ? 'Edit '+this.data.name : 'Create New Category' }}
</h1>
<form [formGroup]="createDeliveryFrm" (ngSubmit)="saveDelivery()">
  <div mat-dialog-content>
    <div class="grid-form-container">
      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. Kochi" required maxlength="200">
        <mat-hint align="end" *ngIf="f.name?.value?.length">{{f.name?.value?.length}} / 200</mat-hint>
        <mat-error *ngIf="f.name.errors && f.name.errors.error">
          {{f.name.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Ex. Kochi nearby location" maxlength="200"></textarea>
        <mat-hint align="end" *ngIf="f.description?.value?.length">{{f.description?.value?.length}} / 200</mat-hint>
        <mat-error *ngIf="f.description.errors && f.description.errors.error">
          {{f.description.errors.error}}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Charge</mat-label>
        <input type="number" matInput formControlName="charge" placeholder="Ex. 250 Rs" required>
        <mat-error *ngIf="f.charge.errors && f.charge.errors.error">
          {{f.charge.errors.error}}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Sortorder</mat-label>
        <input type="number" matInput formControlName="sortorder" placeholder="Ex. 1" >
        <mat-error *ngIf="f.sortorder.errors && f.sortorder.errors.error">
          {{f.sortorder.errors.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-text" appearance="standard">
        <mat-label>Min Amount</mat-label>
        <input type="number" matInput formControlName="min_amount" placeholder="Ex. 1" >
        <mat-error *ngIf="f.min_amount.errors && f.min_amount.errors.error">
          {{f.min_amount.errors.error}}
        </mat-error>
      </mat-form-field>
      <mat-checkbox class="example-margin" formControlName="need_cust_loc" matTooltip="If it checked then while customer fill his/her details it will ask his/her location details too"
      aria-label="Button that displays a tooltip when focused or hovered over">Home Delivery?</mat-checkbox>

      <ng-container *ngIf="!f.need_cust_loc.value">
        <mat-form-field class="full-width-text" appearance="standard">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" placeholder="Kochi" >
          <mat-error *ngIf="f.address.errors && f.address.errors.error">
            {{f.address.errors.error}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-text" appearance="standard">
          <mat-label>Map Url</mat-label>
          <input type="text" matInput formControlName="map_url" placeholder="https://www.google.com/maps/@10.54063,76.1283185,7z" >
          <mat-error *ngIf="f.map_url.errors && f.map_url.errors.error">
            {{f.map_url.errors.error}}
          </mat-error>
        </mat-form-field>
      </ng-container>



    </div>


  </div>
  <div mat-dialog-actions align="end" >
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
    <button mat-raised-button color="primary" type="submit">Save changes</button>
  </div>
</form>

