.mat-form-field {
    width: 100%;
    margin-bottom:15px;
    input {
        border-bottom: none!important;
        box-shadow: none!important;
        margin-bottom: 0px!important;
        :focus {
            border-bottom: none!important;
            box-shadow: none!important;
        }
        :not(.browser-default) {
             border-bottom: none!important;
             box-shadow: none!important;
        }
    }
    

}

