<div class="header-inner"></div>
<ng-container *ngIf="(shop$ | async) as shop">
<h3>{{shop.name}} Details</h3>
Status: {{shop.status_text}}
<form [formGroup]="shopDetailsFrm"  (ngSubmit)="updateShop()">

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Ex. KFC" required>
    <mat-error *ngIf="f.name.errors && f.name.errors.error">
      {{ f.name.errors.error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Ex. kfc@gmail.com">
    <mat-error *ngIf="f.email.errors && f.email.errors.error">
      {{ f.email.errors.error }}
    </mat-error>
  </mat-form-field>

  <ng-select [items]="(countries$ | async)"
  [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
    bindLabel="name"
    id="country_id"
    placeholder="Select Country"
    formControlName="country_id">
    </ng-select>
    <mat-error *ngIf="f.country_id.errors && f.country_id.errors.error">
      {{ f.country_id.errors.error }}
    </mat-error>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Phone </mat-label>
    {{f.country_id.value?.phonecode }}<input matInput type="tel" formControlName="phone" placeholder="Ex. 1234567890" required>
    <mat-error *ngIf="f.phone.errors && f.phone.errors.error">
      {{ f.phone.errors.error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" placeholder="Ex. Kochi" required>
    <mat-error *ngIf="f.address.errors && f.address.errors.error">
      {{ f.address.errors.error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Pin</mat-label>
    <input matInput formControlName="pin" placeholder="Ex. 566456" required>
    <mat-error *ngIf="f.pin.errors && f.pin.errors.error">
      {{ f.pin.errors.error }}
    </mat-error>
  </mat-form-field>


  <ng-select [items]="(states$ | async)"
  [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
    bindLabel="name"
    id="state_id"
    placeholder="Select State"
    formControlName="state_id">
    </ng-select>

    <ng-select [items]="(cities$ | async)"
  [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
    bindLabel="name"
    id="city_id"
    placeholder="Select City"
    formControlName="city_id">
    </ng-select>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
</ng-container>
