.container {
    width:100%;
    max-width: calc(100% - 83px);
}
.grid-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: flex-end;
input {
    margin-bottom: 0px;
}
}

mat-card {
    padding: 15px!important;
    margin-bottom: 30px;
   
}
@media only screen and (max-width: 768px) {
    .grid-form-container {
        grid-template-columns:1fr;
    }
    .container {
        max-width: calc(100% - 15px);
    }

}