<form class="form-signin" [formGroup]="signInFrm"  (ngSubmit)="signIn()">
<app-modal>
  <div header>Login</div>
  <div  body>
    <div id="recaptcha-container"></div>
      <div class="text-danger" *ngIf="invalidlogin">Invalid login credentials</div>
      <div class="form-group row">
          <label for="mobile" class="col-sm-2 col-form-label">Email / Mobile</label>
          <div class="col-sm-10">

              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': f.mobile.invalid && ((f.mobile.dirty || f.mobile.touched))}" id="mobile"
              ngbAutofocus autocomplete="mobile"
              required  placeholder="Mobile"
              formControlName="mobile"
              />
              <ng-container *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)">
                <div *ngIf="f.mobile.errors.required" class="invalid-feedback">
                  Name is required.
                </div>
              </ng-container>


          </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password"
            [ngClass]="{'is-invalid': f.password.invalid && ((f.password.dirty || f.password.touched))}" id="mobile"
            autocomplete="password"
            required  placeholder="password"
            formControlName="password"
            />
            <ng-container *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
              <div *ngIf="f.password.errors.required" class="invalid-feedback">
                Password is required.
              </div>
            </ng-container>

        </div>
    </div>



  </div>
  <div  footer>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="submit" class="btn btn-primary"  [disabled]="signInFrm.invalid">
          Save
      </button>
  </div>
</app-modal>
</form>
