<section class="home-banner">
    <h1>Banner</h1>
</section>

<section class="search-container">
  <div class="container pt-3 pb-3">
    <h5 class="">Find Personalised & 1-to-1 Classes with Online or nearby Tutors</h5>
    <h6 class="mt-2">6.5 Lakh+ Verified Tutors & Institutes</h6>
  </div>
</section>

<section class="register-sec">
<div class="container">
  <ng-container *ngIf="!(loggedUser$ | async) as loggedUser">
    <h1>Who Can Register</h1>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
        <app-login type="student"></app-login>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
        <app-login type="teacher"></app-login>
      </div>
    </div>
  </ng-container>

  <h1>1000 + CATEGORIES</h1>
<div class="row">

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>



</div>


</div>
</section>
<div>

</div>
