<h3>Products</h3>

<button mat-raised-button color="primary" type="button"  (click)="editProduct(null)">Create Product</button>

<ng-container *ngIf="(products$ | async) as products">
  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Number Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:{}" (click)="editProduct(element)" matTooltip="Click here to view or edit this product">{{element.name}}</a>
      </td>
    </ng-container>


    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status_text}} </td>
    </ng-container>

     <!-- Options Column -->
     <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button  type="button" mat-icon-button  color="primary"
          (click)="deleteProduct(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

