<h3>Products</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="editProduct(null)">
  Create Product
</button>

<!-- Modal -->
<div class="modal fade" data-backdrop="static"  id="createProduct" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
  <app-create-product [product]="product"></app-create-product>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        No
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(products$ | async) as products">
      <tr *ngFor="let product of products; let i = index">
        <td>
            {{ i+1 }}
        </td>
        <td>
          <a href="javascript:{}" (click)="editProduct(product)">{{product.name}}</a>
        </td>
        <td>
          {{ product.status_text}}
        </td>
        <td>
          <a href="javascript:{}" class="text-danger" (click)="deleteProduct(product)">Delete</a>
        </td>
      </tr>
      <tr *ngIf="!products || !products.length">
        <td colspan="4">
          <div class="alert alert-warning">
            No product found
          </div>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>
