.mat-form-field {
    width: 100%;
}
.relativePosition {
    position: relative;
    top: -12px;
    left: -11px;
    display: inline-block;
}
.weight-bold {
    font-weight: bold;
    font-size: 34px;
}
h2 {
    color: #821807;
}

.mt-5 {
    margin-top: 20px;
}
.mat-primary_yellow {   
    background-color: #fdc913;
    min-width: 125px;
    border-radius: 50px;
}
.clear-p {
    clear: both;
    display: block;
    margin-top: 15px;
}
.mt-3 {
    margin-top: 15px;
}
.font-25 {
    font-size: 25px;
}
.d-none {
    display: none;
}
.p-4 {
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .m-w-100 {
        width: 100%;
    }
    .visible-web {
        display: none;
    }
    .product-image {
        text-align: center;
    background: #fff;
    padding: 18px 30px;
    
        img {
            max-width:280px;
        }
    }

  }
@media only screen and (min-width: 768px) { 

    .d-flex {
        display: flex;
    }
    .flex-1 {
        flex: 1;
    }
    .visible-mob {
        display: none;
    }

    .product-image {
        text-align: center;
        background: #fff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 30px;
    
        img {
            max-width: 349px;
            width: 100%;
        }
    }
 }