/*Variables*/

$primaryColor:#578AF7;
$whiteText:#FFFFFF;
$text-color:#707070;
$fontsize-paragraph:18px;
$fontsize-1:1rem;
$fontsize-2:2rem;
$fontsize-3:3rem;
$fontsize-4:4rem;
$fontFmily:'Noto Sans JP', sans-serif;