.grid-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 50px 50px;
    column-gap: 20px;
    max-width:60%;
    align-items: center;
input {
    margin-bottom: 0px;
}
.mat-form-field-infix {
    padding-bottom: 0px;
}

}


:host ::ng-deep {
  .mat-date-range-input-start-wrapper{
    overflow: inherit !important;
    top: -15px;
    width: 50%;
  }
  input {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 768px) {
    .grid-form-container {
        grid-template-columns:1fr;
        max-width:100%;
        margin-bottom: 30px;
    }

}
