<form [formGroup]="registerFrm" (ngSubmit)="saveUser()">
  <h3>{{ f.type.value}} Registration</h3>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname"
    [ngClass]="{'is-invalid': (f.fname.errors && f.fname.errors.error) }"
     placeholder="First Name" formControlName="fname" >
      <div *ngIf="f.fname.errors && f.fname.errors.error" class="invalid-feedback">
        {{f.fname.errors.error}}
      </div>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname"
    [ngClass]="{'is-invalid': (f.lname.errors && f.lname.errors.error)}"
    placeholder="First Name" formControlName="lname">
    <div *ngIf="f.lname.errors && f.lname.errors.error" class="invalid-feedback">
      {{f.lname.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
    [ngClass]="{'is-invalid': (f.email.errors && f.email.errors.error)}"
     placeholder="Email Address" formControlName="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div *ngIf="f.email.errors && f.email.errors.error" class="invalid-feedback">
      {{f.email.errors.error}}
    </div>
  </div>

  <div class="form-group">
    <label for="country_id">Country</label>
    <ng-select [items]="(countries$ | async)"
        bindLabel="name"
        id="country_id"
        [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
        placeholder="select Country"
        formControlName="country_id">
        </ng-select>
        <div *ngIf="f.country_id.errors && f.country_id.errors.error" class="invalid-feedback">
          {{f.country_id.errors.error}}
        </div>
  </div>

  <div class="form-group">
    <label for="phone">Mobile</label>
    <ng-container *ngIf="f.country_id.value">
      +{{f.country_id.value.phonecode}}
    </ng-container>

    <input type="text" class="form-control" id="phone"
    [ngClass]="{'is-invalid': (f.phone.errors && f.phone.errors.error)}"
    placeholder="Phone" formControlName="phone">
    <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
      {{f.phone.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address"
    [ngClass]="{'is-invalid': (f.address.errors && f.address.errors.error)}"
     placeholder="Address" formControlName="address">
    <div *ngIf="f.address.errors && f.address.errors.error" class="invalid-feedback">
      {{f.address.errors.error}}
    </div>
  </div>


  <div class="form-group">
    <label for="state_id">State</label>
    <ng-select [items]="(states$ | async)"
        bindLabel="name"
        [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
        id="state_id"
        placeholder="select State"
        formControlName="state_id">
        </ng-select>
      <div *ngIf="f.state_id.errors && f.state_id.errors.error" class="invalid-feedback">
        {{f.state_id.errors.error}}
      </div>
  </div>

  <div class="form-group">
    <label for="city_id">City</label>
    <ng-select [items]="(cities$ | async)"
      [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
        bindLabel="name"
        id="city_id"
        placeholder="select City"
        formControlName="city_id">
        </ng-select>
        <div *ngIf="f.city_id.errors && f.city_id.errors.error" class="invalid-feedback">
          {{f.city_id.errors.error}}
        </div>
  </div>
  <div class="form-group">
    <label for="pin">Pin</label>
    <input type="text" class="form-control" id="pin"
    [ngClass]="{'is-invalid': ( f.pin.errors && f.pin.errors.error)}"
    placeholder="Pin" formControlName="pin">
    <div *ngIf="f.pin.errors && f.pin.errors.error" class="invalid-feedback">
      {{f.pin.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
    [ngClass]="{'is-invalid': ( f.password.errors && f.password.errors.error)}"
     placeholder="Password" formControlName="password">
     <div *ngIf="f.password.errors && f.password.errors.error" class="invalid-feedback">
      {{f.password.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" class="form-control" id="password_confirmation"
    [ngClass]="{'is-invalid': ( f.password_confirmation.errors && f.password_confirmation.errors.error)}"
     placeholder="Confirm Password" formControlName="password_confirmation">
     <div *ngIf="f.password_confirmation.errors && f.password_confirmation.errors.error" class="invalid-feedback">
      {{f.password_confirmation.errors.error}}
    </div>
  </div>

  <div id="recaptcha-container"></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
