.aboutus-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:14px;
    row-gap: 10px;
    margin-top: 30px;
    img.img-fluid {
        width: 100%;
        margin-bottom: 0px;
    }
}
h1 {
    font-weight: 700;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) { 
    .inner-banner {
        background-image: url(../../assets/banner.jpg);
        min-height:149px;
        background-size: cover;
        background-position: center;
    }
    .banner-text {
        text-align: left;
        display: inline-block;
        h1 {
            text-transform: uppercase;
            margin-bottom:0px;
            color: #000;
            font-size:2em;
            font-weight: 900;
        }
        h4 {
            font-weight: 600;
            font-size:12px!important;
            text-transform: uppercase;
            margin-bottom:0px;

        }
    }
    .banner-padding {
        padding:69px 28px 22px 28px;
    }
    
    .container.banner-padding {
        background: none!important;
    }

}
@media only screen and (min-width: 768px) { 
    .inner-banner {
        background-image: url(../../assets/banner.jpg);
        min-height:230px;
        background-size: cover;
        background-position: center;
    }
    .banner-text {
        text-align: left;
        display: inline-block;
        h1 {
            text-transform: uppercase;
    margin-bottom: 23px;
    color: #000;
    font-size: 4em;
    font-weight: 900;
        }
        h4 {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom:40px;

        }
    }
    .banner-padding {
        padding:126px 15px 12px 15px;
    }
}