.container {
    width:100%;
    max-width: calc(100% - 83px);
}
.mb-10 {
    margin-bottom:15px;
}


.mat-icon-button {
    width:40px;
    height:22px;  
    line-height:22px;
}
td, th {

    padding: 15px;
}
.mb-30 {
    margin-bottom: 20px;
}


@media only screen and (min-width: 768px) {
.w-80   { width: 80px;}
.w-180  { width: 180px;}
.w-60   { width:60px;}
}

@media only screen and (max-width: 768px) {
   
    .container {
        max-width: calc(100% - 15px);
    }
    tr {
        border-right: 1px solid #eaeaea;
       
    }

}