@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Our dark theme
.shop-theme-dark-yellow {
  color: $light-primary-text;
  $shop-theme-1-primary: mat-palette($mat-yellow);
  $shop-theme-1-accent: mat-palette($mat-amber, A400, A100, A700);
  $shop-theme-1-warn: mat-palette($mat-red);
  $shop-theme-1-theme: mat-dark-theme($shop-theme-1-primary, $shop-theme-1-accent, $shop-theme-1-warn);

  @include angular-material-theme($shop-theme-1-theme);
}


.shop-theme-light-yellow {
  color: $dark-primary-text;
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
