.container {
    width:100%;
    max-width: calc(100% - 83px);
}
.mat-form-field-infix {
    padding-bottom: 0px;
}
td, th {
    padding: 15px 15px;}
@media only screen and (max-width: 768px) {
   .order-mob-table {
    td, th {
        white-space:nowrap;
        padding: 9px 7px;
    }
   }
   .responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

    .container {
        max-width: calc(100% - 15px);
    }
    
}