<div class="header-inner"></div>
<div class="container">
<h1>Products</h1>

<button mat-raised-button color="primary" type="button"  routerLink="add/0"><mat-icon class="add-icon-position">add</mat-icon>Create Product</button>
<app-search-product  [pageEvent]="pageEvent"></app-search-product>
<mat-card>
<ng-container *ngIf="(products$ | async) as products">
  <table class="responsive-table highlight">
    <thead>
      <th class="w-60">
        No.
      </th>
      <th class="w-80">
        Image
      </th>
      <th>
        Name
      </th>

      <th class="w-180">
        Category
      </th>
      <th class="w-100">
        Status
      </th>
      <th class="w-60">
        Delete
      </th>
    </thead>
    <tbody>
      <ng-container *ngIf="products && products.data.length">
        <tr *ngFor="let element of products.data; let i = index;">
          <td>
            {{i + 1}}
          </td>
          <td>
            <span *ngIf="!element.shop_product_primary_variant?.shop_product_image?.image">--</span>
            <div class="image-wrap" *ngIf="element.shop_product_primary_variant?.shop_product_image?.image">
              <img  [src]="element.shop_product_primary_variant?.shop_product_image?.image_path" />
            </div>
          </td>
          <td>
            <a href="javascript:{}" [routerLink]="'add/'+element.id" matTooltip="Click here to view or edit this product">{{element.name}}</a>
          </td>

          <td>
            {{ element.shop_product_category?.name}}
          </td>
          <td>
            <a href="javascript:{}" (click)="changeStatus(element)"> {{element.status_text}} </a>
          </td>
          <td>
            <button  type="button" mat-icon-button  color="warn"
              (click)="deleteProduct(element)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="!products || !products.data || !products.data.length">
        <td colspan="5">
          No product found
        </td>
      </tr>
    </tbody>


  </table>


  <mat-paginator *ngIf="products.total" [length]="products.total"
              [pageSize]="20"
              [pageSizeOptions]="[20, 50, 70, 100]"
              (page)="goto($event)">
  </mat-paginator>

</ng-container>
</mat-card>
</div>
