.container {
    width:100%;
    max-width: calc(100% - 83px);
}
.pr-15 {
    padding-right: 15px;
}
.mt-15 {
    margin-top:20px;
}
.mb-15 {
    margin-bottom:20px;
}
.p { padding: 20px!important;}

.grid-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: flex-end;
input {
    margin-bottom: 0px;
}
.mat-form-field-infix {
    padding-bottom: 0px;
}

}
.button-container {
    display: flex;
    button {
        margin-left: auto;
    }
}
@media only screen and (min-width: 768px) {
.col-item {
    grid-column: 1 / span 3;
  }

  .col-item2 {
    grid-column:span 2;
  }
  .align-self { align-self: center;}
}
@media only screen and (max-width: 768px) {
    .grid-form-container {
        grid-template-columns:1fr;
        max-width:100%;
        margin-bottom: 30px;

    }

}
