<div class="header-inner"></div>
<div class="container">
<form [formGroup]="editProfileFrm" *ngIf="(loggedUser$ | async) as loggedUser" (ngSubmit)="updateProfile()">
  <!-- <img [src]="loggedUser.avatar" class="avatar-img img-thumbnail" /> -->

  <!-- <button (click)="fileInput.click()" type="button" mat-stroked-button color="primary">
    <span>Choose Photo</span>
    <input #fileInput type="file" (change)="onFileInput($event.target.files)"
     style="display:none;"  accept="image/*" />
  </button> -->

<mat-card class="p">
 <span class="pr-15">Created At: {{ loggedUser?.created_at |  date:'dd/MM/yy'}}</span>
 <span>Last Login: {{ loggedUser?.last_login?.created_at  |  date:'dd/MM/yy'}}</span>
</mat-card>
<mat-card class="p mt-15 mb-15">
  <div class="grid-form-container">
  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="fname" placeholder="Ex. John" required maxlength="200">
    <mat-hint align="end" *ngIf="f.fname?.value?.length">{{f.fname?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.fname.errors && f.fname.errors.error">
      {{f.fname.errors.error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lname" placeholder="Ex. Doe" maxlength="200">
    <mat-hint align="end" *ngIf="f.lname?.value?.length">{{f.lname?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.lname.errors && f.lname.errors.error">
      {{f.lname.errors.error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Mobile</mat-label>
    <input type="tel" matInput formControlName="phone" placeholder="Ex. 9186569856" required>
    <mat-error *ngIf="f.phone.errors && f.phone.errors.error">
      {{f.phone.errors.error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. johndoe@gmail.com" required maxlength="200">
    <mat-hint align="end" *ngIf="f.email?.value?.length">{{f.email?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.email.errors && f.email.errors.error">
      {{f.email.errors.error}}
    </mat-error>
  </mat-form-field>


  <mat-checkbox class="col-item2" formControlName="isChanegPassword">Change Password?</mat-checkbox>


  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Ex. ********" required maxlength="200">
    <mat-hint align="end" *ngIf="f.password?.value?.length">{{f.password?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.password && f.password.errors && f.password.errors.error">
      {{f.password.errors.error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput formControlName="password_confirmation" placeholder="Ex. ********" required maxlength="200">
    <mat-hint align="end" *ngIf="f.password_confirmation?.value?.length">{{f.password_confirmation?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.password_confirmation && f.password_confirmation.errors && f.password_confirmation.errors.error">
      {{f.password_confirmation.errors.error}}
    </mat-error>
  </mat-form-field>
</div>

</mat-card>

<div class="button-container">
  <button type="submit" mat-raised-button color="primary">Submit</button>
</div>
</form>
</div>

