// /* You can add global styles to this file, and also import other style files */

 @import "~@ng-select/ng-select/themes/material.theme.css";
 @import '~ngx-sharebuttons/themes/default/default-theme';
 @import './styles/material-theme';

 html, body { height: 100%; margin: 0; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.add-icon-position {
    left: -5px;
    position: relative;
}

.veg, .nonveg {
  border: 2px solid #35D200;
  width: 16px;
  height: 16px;
  margin:4px;
  &::after{
    content: '';
    border-radius:50%;
    position: relative;
    top:4px;
    left:5px;
    display: block;
    background-color:#35D200 ;
    width:8px;
    height: 8px;
  }
}
.nonveg {
    border: 2px solid #FF0000;
    &::after{
      background-color:#FF0000 ;
    }
  }


.mb1 {
    margin-bottom:1.5rem;
}
.mat-fab .mat-button-wrapper {
    padding: 0px!important;
    line-height: 16px!important;
}

main {
   min-height: calc(100vh - 44px);
  //  :not(app-home){
  //   .container{
  //     margin-top:55px !important;
  //   }
  //  }
}
.container{
    padding: 0 15px;
    padding-top: 12px;
}
