.spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  position: fixed;
  z-index: 200;
}

a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}
.navmenu {
  a {
    margin-left: 20px;
    font-weight: 100;
  }
  }

