.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.flex-right { margin-left: auto;}

.navmenu {
  a {
    margin-left: 20px;
    font-weight: 100;
  }
  }

.brand-logo {
  background: url('../../assets/logo.png') no-repeat left center;
  padding: 8px 0 8px 55px;
  font-size: 22px !important;
  background-size: 50px;
}
@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .mat-toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(90 43 2 / 70%);
    height: 56px;
    a{
      font-size: 14px;
    }
    
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 25px!important;
  }
}

@media only screen and (min-width: 768px) {
  .mat-toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(90 43 2 / 70%);
    height: 74px;
    a{
      font-size: 14px;
    }
    
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 66px!important;
  }
  
}
