<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <ng-container *ngIf="(loggedUser$ | async) as loggedUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:{}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ loggedUser.fname }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/admin/edit-profile">Edit Profile</a>
              <a class="dropdown-item" href="javascript:{}" (click)="signOut()">Sign Out</a>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

