.container {
    width:100%;
    max-width: calc(100% - 83px);
}
.mat-form-field-infix {
    padding-bottom: 0px;
}
td, th {
    padding: 15px 15px;}
@media only screen and (max-width: 768px) {
   
    .container {
        max-width: calc(100% - 15px);
    }

}