.extended-fab-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;
    position: fixed;
    bottom: 14px;
    right: 20px;  
    span {
        padding: 0px;
    }
  
   .extend-btn-cart  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: 100; 
    text-transform: uppercase;
    font-size: 11px;
}
    
    .d-block {
        display: block;
        font-size: 18px;
    font-weight: 700;
    .items{
        font-weight: 100!important;
        font-size:14px!important;
    }
    }
    
  }