<h3>Products</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="editProduct(null)">
  Create Product
</button>


<ng-container *ngIf="(products$ | async) as products">
<table class="table" *ngIf="(shopKey$ | async) as shopKey">
  <thead>
    <tr>
      <th>
        No
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>

      <tr *ngFor="let product of products.data; let i = index">
        <td>
            {{ i+1 }}
        </td>
        <td>
          <a href="javascript:{}" (click)="editProduct(product)">{{product.name}}</a>
        </td>
        <td>
          {{ product.status_text}}
        </td>
        <td>
          <a href="javascript:{}" class="text-danger" (click)="deleteProduct(product, shopKey)">Delete</a>
        </td>
      </tr>
      <tr *ngIf="!products || !products.data.length">
        <td colspan="4">
          <div class="alert alert-warning">
            No product found
          </div>
        </td>
      </tr>

  </tbody>
</table>

<ngb-pagination [collectionSize]="products.total"  [pageSize]="products.per_page" [(page)]="products.current_page" (pageChange)="loadPage($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</ng-container>

