


<div class="grid-form" [formGroup]="customerFrm" >
  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="name"
    placeholder="Ex. John Doe" maxlength="200" id="fullName">
    <mat-error *ngIf="f.name.errors && f.name.errors.error">
      {{f.name.errors.error}}
    </mat-error>
  </mat-form-field>

<!--  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Email address</mat-label>
    <input matInput formControlName="email" placeholder="Ex. johndoe@gmail.com" >
    <mat-error *ngIf="f.email.errors && f.email.errors.error">
      {{f.email.errors.error}}
    </mat-error>
  </mat-form-field> -->

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Phone</mat-label>
    <input type="tel" matInput formControlName="phone" placeholder="Ex. 91546542465" maxlength="200">
    <mat-error *ngIf="f.phone.errors && f.phone.errors.error">
      {{f.phone.errors.error}}
    </mat-error>
    <mat-error *ngIf="f.phone.invalid && ((f.phone.dirty || f.phone.touched)) && f.phone.errors.required">
      Phone is required.
    </mat-error>
    <mat-error *ngIf="f.phone.invalid && ((f.phone.dirty || f.phone.touched)) && f.phone.errors.pattern">
      In valid phone number.
    </mat-error>
  </mat-form-field>


  <ng-container *ngIf="(!shopDelivery)">
    <a *ngIf="mapUrl" [href]="mapUrl" target="_blank">Map</a>
    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address" placeholder="Ex. House Name/ Number" required maxlength="200"></textarea>
      <mat-error *ngIf="f.address.errors && f.address.errors.error">
        {{f.address.errors.error}}
      </mat-error>
      <mat-error *ngIf="f.address.invalid && ((f.address.dirty || f.address.touched)) && f.address.errors.required">
        Address is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Pin Code</mat-label>
      <input type="number" matInput formControlName="pin" placeholder="Ex. 658956" required maxlength="200">
      <mat-error *ngIf="f.pin.errors && f.pin.errors.error">
        {{f.pin.errors.error}}
      </mat-error>
      <mat-error *ngIf="f.pin.invalid && ((f.pin.dirty || f.pin.touched)) && f.pin.errors.required">
        Pin is required.
      </mat-error>

    </mat-form-field>

    <mat-form-field class="full-width-text" appearance="standard">
      <mat-label>Local Place</mat-label>

      <mat-select matInput name="selectedLocation" formControlName="selectedLocation">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let loc of deliveryloc" [value]="loc">
          {{loc.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.selectedLocation.errors && f.selectedLocation.errors.error">
        {{f.selectedLocation.errors.error}}
      </mat-error>
      <mat-error *ngIf="f.selectedLocation.invalid && ((f.selectedLocation.dirty || f.selectedLocation.touched)) && f.selectedLocation.errors.required">
        Local place is required.
      </mat-error>

    </mat-form-field>
  </ng-container>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-label>Order Note</mat-label>
    <textarea matInput formControlName="note" placeholder="Any additional note" maxlength="200"></textarea>
    <mat-hint align="end" *ngIf="f.note?.value?.length">{{f.note?.value?.length}} / 200</mat-hint>
    <mat-error *ngIf="f.note.errors && f.note.errors.error">
      {{f.note.errors.error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-text" appearance="standard">
    <mat-slide-toggle
    formControlName="is_delivery_date"
      name="Delivery Date" (change)="triggerPicker(picker)">
      {{
        (f.delivery_date.value) ? 'This order will deleviered on '+(f.delivery_date.value |  date:'medium') : 'Do you want to pick delivery Date & Time?'
      }}

    </mat-slide-toggle>
    <input type="text" [min]="todayDate"
    [ngxMatDatetimePicker]="picker"
   formControlName="delivery_date" hidden matInput>

   <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
      [touchUi]="true"  [enableMeridian]="true" >
   </ngx-mat-datetime-picker>


    <mat-error *ngIf="f.delivery_date.invalid && ((f.delivery_date.dirty || f.delivery_date.touched)) && f.delivery_date.errors.required">
      Delivery Date & Time is required.
    </mat-error>

  </mat-form-field>


  <!-- <button (click)="chekValidation()" mat-flat-button color="primary" class="float-right">Save</button> -->
</div>

