<div *ngIf="(shop$ | async) as shop" class="mt-2 ">


  <h3>
    {{shop.name}}
    <a href="javascript:{}" *ngIf="!shop.is_generated"
    class="btn btn-primary float-right" (click)="generateIt(shop)">
      Generate
    </a>

    <div  *ngIf="shop.is_generated" class="float-right">
      <a href="javascript:{}"
      class="btn btn-primary" (click)="downloadSite(shop)">
        Download
      </a>

      <a href="javascript:{}"
      class="btn btn-danger ml-2" (click)="generateIt(shop)">
        Re- Generate
      </a>
    </div>
  </h3>

  <div class="row">
    <div class="col">
      shopKey: {{shop.shop_key}}
    </div>
    <div class="col" [ngClass]="{'text-warning': !shop.status, 'text-success': shop.status}">Status: {{shop.status_text}}</div>
    <div class="col">Category: {{ (shop.shop_category?.name) ? shop.shop_category?.name : 'Nill' }}</div>
  </div>

  <div class="row">
    <div class="col">Created At: {{shop.created_at | date:'medium'}}</div>
  </div>


  <ul class="row list-group">
    <li class="list-group-item col">
      Email: {{ shop.email}}
    </li>
    <li class="list-group-item col">
      Phone: {{ shop.phone}}
    </li>
    <li class="list-group-item col">
      Address: {{ shop.address}}
    </li>
    <li class="list-group-item col">
      Pin: {{ shop.pin}}
    </li>
    <li class="list-group-item col">
      Country: {{ shop.country?.name}}
    </li>
    <li class="list-group-item col">
      State: {{ shop.state?.name}}
    </li>
    <li class="list-group-item col">
      City: {{ shop.city?.name}}
    </li>
    <li class="list-group-item col">
      Shop Shor Name: {{ shop.short_name}}
    </li>
    <li class="list-group-item col">
      Base Path: {{ shop.base_path}}
    </li>
    <li class="list-group-item col">
      favicon: {{ shop.favicon}}
    </li>
    <li class="list-group-item col">
      theme_color: {{ shop.theme_color}}
    </li>
    <li class="list-group-item col">
      bg_color: {{ shop.bg_color}}
    </li>
    <li class="list-group-item col">
      icons: {{ shop.icons}}
    </li>
  </ul>
  <div >
    <button type="button" class="btn btn-outline-primary " (click)="createAdmin(shop)">Admin</button>
    <a type="button" class="btn btn-outline-primary ml-1" routerLink="categories">Category</a>
    <a type="button" class="btn btn-outline-primary ml-1" routerLink="products">Products</a>
    <a type="button" class="btn btn-outline-primary ml-1" routerLink="delivery-locations">Delivery locations</a>
    <button type="button" class="btn btn-outline-primary ml-1" routerLink="orders">Orders</button>
  </div>

  <router-outlet></router-outlet>
</div>
