<div class="card">
    <i>
      <fa-icon [icon]="faUserGraduate" *ngIf="(type ==='student')"></fa-icon>
      <fa-icon [icon]="faUser" *ngIf="(type ==='teacher')"></fa-icon>
    </i>
    <div class="card-body">
      <h3>
        {{ (type ==='student' ) ? 'Student' : 'Teacher'}}
      </h3>
      <a class="btn btn-primary" [routerLink]="type+'/register'" >Register</a>
    </div>
    <div class="card-footer">
      <div class="d-grid" [ngClass]="{ 'grd-col-2': type ==='student', 'grd-col-3': type ==='teacher'}">
        <h4 *ngIf="type ==='teacher'"><a routerLink="teacher/plans">SEE OUR PLANS</a></h4>
        <p>Already registered Please login here </p>
        <h4><a href="javascript:{}" (click)="signIn()">LOGIN</a></h4>
      </div>
    </div>
  </div>
