
<div
class="search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="loadMore()"
infiniteScrollContainer=".my-sidenav-content" [fromRoot]="true"
></div>

<div class="product-grid" >

<ng-container *ngIf="(products$ | async) as products">

  <div class="grid-col" *ngFor="let product of allProduct" >
    <mat-card >
      <div class="mat-card-headerimage" [ngStyle]="{'background-image': (product.shop_product_primary_variant?.shop_product_image?.image) ? 'url(' + environment.siteAddress+'/assets/shop/'+environment.shopKey+'/products/'+ product.shop_product_primary_variant.shop_product_image.image + ')' : ''}" [routerLink]="'/'+product.shop_product_category?.url+'/'+product.url">
      <div mat-card-avatar [ngClass]="{'veg': product.shop_product_primary_variant?.type.id == 1, 'non-veg': product.shop_product_primary_variant?.type.id == 2}"></div>
        <!-- <img mat-card-image *ngIf="product.shop_product_primary_variant?.shop_product_image?.image" [src]="environment.siteAddress+'/assets/shop/'+environment.shopKey+'/products/'+ product.shop_product_primary_variant.shop_product_image.image" [alt]="product.shop_product_primary_variant.name"> -->
      </div>
      <mat-card-header>
        <mat-card-title [routerLink]="'/'+product.shop_product_category?.url+'/'+product.url"> {{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.shop_product_primary_variant?.name}} <span *ngIf="product.shop_product_variant.length > 1">
          | {{ product.shop_product_variant.length }} Varients </span> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="product.description"></p>
      </mat-card-content>
      <mat-card-actions>
        <div class="price-grid">
       <div>₹ {{ product.shop_product_primary_variant?.price}} </div> <div *ngIf="product.shop_product_primary_variant?.actual_price">₹ {{ product.shop_product_primary_variant?.actual_price}}</div>
       <div></div>
      </div>
       <button class="addCart-btn" (click)="addToCart(product)"><mat-icon aria-hidden="false" aria-label="Add Icon">add</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!allProduct.length">No item found</div>
</ng-container>
</div>
