.h{
  height: 300px
}
.mat-card-avatar {height: 10px;
    width: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    right: 7px;
    top: 8px;
    background: #ccc;}