.grid-my-list {
    display: grid;

    grid-column-gap: 6px;
    padding: 0 10px!important;
    margin-bottom: 12px;
    min-height: 67px;
    img {
        width: 93px;
        border-radius: 5px;
    }
    > div {
        padding:10px 5px;
    }
    .pl-1 {padding-left: 10px;}
}
small {
    margin-bottom: 8px;
}
.block {
    display: block;
}
.cart-item-header {
    color: #821807;
    font-weight: 500;
    margin-bottom: 8px;
}
.m-15 {
    margin-top:15px;
}

.text-right {
    text-align: right;
}
.order-total{   
    padding: 15px;
    border-radius: 5px;
    
    border:1px solid #00E777 ; 
    .block {
        display: block;
    }
    h1 {margin-bottom: 0px; font-weight: 700;}
    .mt-10 {
        margin-top: 10px;
    }
}
.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:30px;

    input {
        margin-bottom: 0px;
    }
    .mat-form-field-infix {
        padding:0px!important;
    }
    .relative-position {
        position: relative;
        .mat-button-toggle-group {
            position:absolute;
            right:0;
            top: 10px;
        }
        .mat-form-field {
            width: 100%;
        }
    }

}
.d-flex-btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.mr-auto {
    margin-left: auto;
}

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.whatsapp-btn {
    background-color: #00E777;
    border-radius: 50px;
    padding:10px 32px;
    margin-left:0px;
}
svg {
    width:25px;
    margin-right: 8px;

}
.actionBtn {
    margin-top: 30px;
    .example-section {margin-left: auto;}
}
.address {
margin-top: 15px;
    h3,h4,p { margin-bottom: 0;}
    background: #FFF;
    padding: 15px;
    border-radius: 5px;
    border:#ddd 1px solid;
    position: relative;
    .right-position {
        position: absolute;
        right: 10px;
        top:10px;
    }
}
.pl-3 {
    padding-left: 5px;
}
.p-5 {
    padding:30px;
}
.btn-pl-3 {
    padding-left: 15px;   
   
}
.btn-p-m-even {
    padding-left:5px;
    padding-right:5px;
    margin-bottom:10px;
    display: inline-block;
    color: rgb(16, 75, 236);
    font-size:18px;
}
::ng-deep {
    .mat-tab-body-content {
        padding:30px 0px 10px;
    }
    .mat-tab-label-content {
        text-transform: uppercase;
    }
    .mat-ink-bar {
        height: 6px!important;
    }
    .mat-tab-label {
        border: 1px solid #dadada;
        margin-right: 4px;
        padding:0 15px!important;
    }
}
.d-block {
    display: block;
}

.mat-dialog-content {
    max-height:inherit!important;
}
@media only screen and (max-width: 768px) {
    .mob-comments {
        padding-right: 10px;
    }
    .comment-area {
                grid-column: 1 / span 2;  
                padding:0!important;  
                margin-right: -10px;
                margin-left:-10px;          
        div {
            display: flex;
            column-gap:0px;
           
            .mat-icon-button {
                width: auto!important;   
                flex: 1; 
                &:first-child {
                    background-color: rgb(16, 75, 236);
                    border-radius: 0px;
                    border-bottom-left-radius:4px;
                    color: #fff;
                }  
                &:last-child {
                    background-color: #eceaea;
                    border-radius: 0px;
                    border-bottom-right-radius:4px;
                }                 
            }
           
        }
    }
    .tab-delivery-options a {
        background: #007BFF;
        padding: 11px 16px 11px 25px;        
        color: #fff;
        border-radius:50px;
        display: block;
        margin-bottom: 8px; 
        .d-none {
            display: none;
        }       
        &.active {
            background-color: #6dca49!important;
        }
    }
    
    .cart-wrapp-mob {
        background: #d5e1e8;
        padding:15px;
        border-radius:4px;
    }
    .footer-floatingbutton {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background:#e2e2e2;
        padding: 20px 0;
        display: flex;
        margin-bottom: 0!important;
        z-index: 100;
    }
.pb-m-5 {
    padding-bottom:180px;
}
    .selectDelevery {       
        border-radius: 5px;        
        margin-bottom: 15px;
         
        h3 {
            margin-bottom: 0px;
            font-size: 18px;  
            font-weight: 500;     
        }
    }

    .cdk-overlay-pane {
        min-width: 94vw!important;
        width: 94vw!important;
        max-width: 94vw!important;
    }
    .grid-form {
        display: grid;
        grid-template-columns: 1fr ;
       }
       .mat-dialog-content {
           margin: 0;
           padding: 0;
       }
       .grid-my-list {
        grid-template-columns: 95px 1fr;
        align-items:flex-start;
    }
    .d-none-md {
        display: none;
    }
    .d-block-md {
        display: none;
    }
    .actionBtn {

        .example-section {
            text-align: center;
            margin: 0 auto;            
            .whatsapp-btn {
                width:90%;
                margin-top: 20px;
                margin-left: 0px;
            }
        }

    }
    .pl-pr {
        padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 15px;
    }
}
@media only screen and (min-width: 768px) {
    .mob-comments {
        display: none;
    }
    .tab-delivery-options a {
        background: #007BFF;
        padding: 11px 16px 11px 25px;
        margin-right: 8px;
        color: #fff;
        border-radius:50px;
        display: inline-block;
        width: 262px;
        margin-bottom: 8px;
        .d-none {
            display: none;
        }     
        &.active {
            background-color:  #6dca49!important;
        }
    }
   
    .selectDelevery {
        background-color:#60b5d6;
        padding: 10px 11px;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 15px;
        h3 {
            margin-bottom: 0px;
        }
    }
    .actionBtn {
        display: flex;

    }
    .d-block-lg {
        display: block;
    }
    .d-none-lg {
        display: none;
    }
    .grid-my-list {
        grid-template-columns: 95px 1fr 105px 90px;
        align-items:center;
    }
}

.veg {
  border: 2px solid #35D200;
  &::after{
    content: '';
    border-radius:50%;
    position: relative;
    top:2px;
    left:2px;
    display: block;
    background-color:#35D200 ;
    width:8px;
    height: 8px;
  }
}
.nonveg {
  border: 2px solid#FF0000;
    &::after{
      content: '';
      border-radius:50%;
      position: relative;
      top:2px;
      left:2px;
      display: block;
    background-color:#FF0000 ;
    width:8px;
    height: 8px;
    }
  }
.warning-ico {
    position: relative;
    top: 7px;
    margin-right: 5px;

}
.ml-5 {
    margin-left: 15px;
}