<ng-container *ngIf="(cart$ | async) as cart">
  <ng-container *ngIf="cart && cart.length">

    <h1 mat-dialog-title>
      My Cart ( {{cart.length}} )
    </h1>
    <div mat-dialog-content>

      <mat-card *ngFor="let item of cart">
        {{item.product.name}}
        {{item.product.shop_product_selected_variant.name}}
        {{item.qty}}
        {{item.price}}
        <button mat-icon-button color="primary" (click)="updateCart(item, '+')">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="updateCart(item, '-')">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>

      </mat-card>

      Items: {{cart.length}}
      Total : {{ total}}

      <div>
        <form [formGroup]="customerFrm">

          <ng-container *ngIf="(shop$ | async) as shop">
            <ng-container *ngFor="let shop_delivery of shop.shop_delivery">
              <a href="javascript:{}" [ngClass]="{'active' : (selectedLocation.id == shop_delivery.id)}"
              (click)="changeLocation(shop_delivery)">
                {{ shop_delivery.name }}
                <span *ngIf="shop_delivery.charge">
                  @ {{ shop_delivery.charge}}
                </span>
              </a>
            </ng-container>
          </ng-container>
          <mat-form-field class="full-width-text" appearance="standard">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. John Doe" required>
            <mat-error *ngIf="f.name.errors && f.name.errors.error">
              {{f.name.errors.error}}
            </mat-error>
          </mat-form-field>



          <mat-form-field class="full-width-text" appearance="standard">
            <mat-label>Email address</mat-label>
            <input matInput formControlName="email" placeholder="Ex. johndoe@gmail.com" >
            <mat-error *ngIf="f.email.errors && f.email.errors.error">
              {{f.email.errors.error}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-text" appearance="standard">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput formControlName="phone" placeholder="Ex. 91546542465" required>
            <mat-error *ngIf="f.phone.errors && f.phone.errors.error">
              {{f.phone.errors.error}}
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="(selectedLocation.need_cust_loc)">
            <a [href]="mapUrl" target="_blank">Map</a>
            <mat-form-field class="full-width-text" appearance="standard">
              <mat-label>Address</mat-label>
              <textarea matInput formControlName="address" placeholder="Ex. House Name/ Number" required></textarea>
              <mat-error *ngIf="f.address.errors && f.address.errors.error">
                {{f.address.errors.error}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-text" appearance="standard">
              <mat-label>Pin Code</mat-label>
              <input type="number" matInput formControlName="pin" placeholder="Ex. 658956" required>
              <mat-error *ngIf="f.pin.errors && f.pin.errors.error">
                {{f.pin.errors.error}}
              </mat-error>
            </mat-form-field>
          </ng-container>



          <mat-form-field class="full-width-text" appearance="standard">
            <mat-label>Order Note</mat-label>
            <textarea matInput formControlName="note" placeholder="Ex. Birth day John Doe " required></textarea>
            <mat-error *ngIf="f.note.errors && f.note.errors.error">
              {{f.note.errors.error}}
            </mat-error>
          </mat-form-field>

        </form>

      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-stroked-button type="button" (click)="dialogRef.close()">Close</button>
      <button mat-raised-button color="primary" type="submit" (click)="sendToShop()">Send to Whatsapp</button>
    </div>
  </ng-container>
</ng-container>
