<form [formGroup]="createUserFrm" (ngSubmit)="saveUser()">
  <div class="form-group">
    <label for="fname">First name</label>
    <input type="text" class="form-control" id="fname"
    [ngClass]="{'is-invalid': ( f.fname.errors && f.fname.errors.error)}"
    placeholder="First Name"
     formControlName="fname">
     <div *ngIf="f.fname.errors && f.fname.errors.error" class="invalid-feedback">
      {{f.fname.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="mname">Middle name</label>
    <input type="text" class="form-control" id="mname"
    [ngClass]="{'is-invalid': ( f.mname.errors && f.mname.errors.error)}"
    placeholder="Middle Name"
     formControlName="mname">
     <div *ngIf="f.mname.errors && f.mname.errors.error" class="invalid-feedback">
      {{f.mname.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="lname">Last name</label>
    <input type="text" class="form-control" id="lname"
    [ngClass]="{'is-invalid': ( f.lname.errors && f.lname.errors.error)}"
    placeholder="Last Name"
     formControlName="lname">
     <div *ngIf="f.lname.errors && f.lname.errors.error" class="invalid-feedback">
      {{f.lname.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="userEmail">Email</label>
    <input type="email" class="form-control" id="userEmail"
    [ngClass]="{'is-invalid': ( f.email.errors && f.email.errors.error)}"
    placeholder="Email"
    formControlName="email">
     <div *ngIf="f.email.errors && f.email.errors.error" class="invalid-feedback">
      {{f.email.errors.error}}
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password"
    [ngClass]="{'is-invalid': ( f.password.errors && f.password.errors.error)}"
    formControlName="password" >
    <div *ngIf="f.password.errors && f.password.errors.error" class="invalid-feedback">
      {{f.password.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" class="form-control" id="password_confirmation"
    [ngClass]="{'is-invalid': ( f.password_confirmation.errors && f.password_confirmation.errors.error)}"
    placeholder="Confirm Password"
     formControlName="password_confirmation" >
     <div *ngIf="f.password_confirmation.errors && f.password_confirmation.errors.error" class="invalid-feedback">
      {{f.password_confirmation.errors.error}}
    </div>
  </div>

  <div class="form-group">
    <label for="Status">Status</label>
    <select class="form-control"
    [ngClass]="{'is-invalid': ( f.status.errors && f.status.errors.error)}"
    formControlName="status">
        <option value="1">Active</option>
        <option value="0">In-Active</option>
    </select>
    <div *ngIf="f.status.errors && f.status.errors.error" class="invalid-feedback">
      {{f.status.errors.error}}
    </div>
  </div>

  <div class="form-group">
    <label for="userPhone">Phone</label>
    <input type="tel" class="form-control" id="userPhone"
    [ngClass]="{'is-invalid': ( f.phone.errors && f.phone.errors.error)}"
    placeholder="Phone"
    formControlName="phone">
     <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
      {{f.phone.errors.error}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="!nosave">Submit</button>
</form>
