<a routerLink="create" class="btn btn-primary float-right">Create Shop</a>
<div class="clearfix mb-3 mt-2"></div>

<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(shops$ | async) as shops">
      <tr *ngFor="let shop of shops">
        <td>
          {{ shop.id }}
        </td>
        <td>
          <a [routerLink]="'shop/'+shop.shop_key">{{shop.name}}</a>
        </td>
        <td>
          {{ shop.status_text }}
        </td>
        <td>
          <a href="javascript:{}" [routerLink]="'edit/'+shop.shop_key" class="btn btn-primary btn-sm">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a> |
          <a href="javascript:{}" (click)="delete(shop)" class="btn btn-danger btn-sm">
            <fa-icon [icon]="faTrash"></fa-icon>
          </a>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>

