<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Maya Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <ng-container *ngIf="!(loggedUser$ | async) as loggedUser">
        <li class="nav-item">
          <a class="nav-link" (click)="signIn()" href="javascript:{}" >Login</a>
        </li>
      </ng-container>
      <ng-container *ngIf="(loggedUser$ | async) as loggedUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/shops" >Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/shops/categories" >Shop Categories</a>
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{loggedUser.fname}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem  routerLink="/admin/edit-profile">Edit Profile</button>
              <button ngbDropdownItem  (click)="signOut()">Sign Out</button>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

