
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create Product</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="createProductFrm" (ngSubmit)="saveProduct()">
      <div class="modal-body">

          <div class="form-group">
            <label for="Category">Category</label>
            <ng-select [items]="(categories$ | async)"
            [ngClass]="{'is-invalid': ( f.shop_product_category_id.errors && f.shop_product_category_id.errors.error)}"
              bindLabel="name"
              id="shop_product_category_id"
              placeholder="select Category"
              formControlName="shop_product_category_id">
              </ng-select>
              <div *ngIf="f.shop_product_category_id.errors && f.shop_product_category_id.errors.error" class="invalid-feedback">
                {{f.shop_product_category_id.errors.error}}
              </div>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
            [ngClass]="{'is-invalid': ( f.name.errors && f.name.errors.error)}"
            placeholder="Name"
            formControlName="name">
            <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
              {{f.name.errors.error}}
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description /  Ingredients</label>
            <textarea  class="form-control" id="description"
            [ngClass]="{'is-invalid': ( f.description.errors && f.description.errors.error)}"
            placeholder="Description"
            formControlName="description"></textarea>
            <div *ngIf="f.description.errors && f.description.errors.error" class="invalid-feedback">
              {{f.description.errors.error}}
            </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <ng-select [items]="statuses"
            bindLabel="name"
            bindValue="id"
            formControlName="status">
            </ng-select>
            <div *ngIf="f.status.errors && f.status.errors.error" class="invalid-feedback">
              {{f.status.errors.error}}
            </div>
          </div>
          <div class="form-group">
            <label for="sortorder">Sortorder</label>
            <input type="number" class="form-control" id="sortorder"   [ngClass]="{'is-invalid': ( f.sortorder.errors && f.sortorder.errors.error)}"
            placeholder="SortOrder"
            formControlName="sortorder">
            <div *ngIf="f.sortorder.errors && f.sortorder.errors.error" class="invalid-feedback">
              {{f.sortorder.errors.error}}
            </div>
          </div>

          <h3>Varients</h3>

          <table class="table">
            <thead>
              <tr>
                <th>
                  id
                </th>
                <th>
                  Varient Name
                </th>
                <th>
                  Actual Price
                </th>
                <th>
                  Sale Price
                </th>
                <th>
                  Image
                </th>
                <th>
                  Options
                </th>
              </tr>
            </thead>
            <tbody formArrayName="varients" >
              <tr *ngFor="let stat of varients.controls; let i=index; let last = last" [formGroupName]="i">
                <td>
                  {{ i+ 1}}
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="name" placeholder="Name"
                  [ngClass]="{'is-invalid': ( stat.controls.name.errors && stat.controls.name.errors.error)}">
                  <div *ngIf="stat.controls.name.errors && stat.controls.name.errors.error" class="invalid-feedback">
                    {{stat.controls.name.errors.error}}
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="actual_price" placeholder="Actual Price">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="price" placeholder="Price"
                  [ngClass]="{'is-invalid': ( stat.controls.price.errors && stat.controls.price.errors.error)}">
                  <div *ngIf="stat.controls.price.errors && stat.controls.price.errors.error" class="invalid-feedback">
                    {{stat.controls.price.errors.error}}
                  </div>
                </td>
                <td>
                  <input type="file" class="form-control" >
                </td>
                <td>
                  <a href="javascript:{}" class="btn btn-primary btn-sm" (click)="addVarient(stat)"><fa-icon [icon]="faPlus"></fa-icon></a>
                  <a href="javascript:{}" class="btn btn-primary  btn-sm" (click)="removeVarient(i)"><fa-icon [icon]="faTrash"></fa-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

